In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({"Roll no": [4,5], "Name": ['Yash', 'Ayan']})

In [ ]:
df

In [12]:
df = pd.DataFrame([[4,5,7],[4,6,8],[9,9,9]], index=[1,2,3], columns=['a', 'b', 'c'])

In [13]:
df

   a  b  c
1  4  5  7
2  4  6  8
3  9  9  9

In [14]:
df.iloc[:,0:]

   a  b  c
1  4  5  7
2  4  6  8
3  9  9  9

In [15]:
df.iloc[:,1:2]

   b
1  5
2  6
3  9

In [16]:
df.iloc[:,:2]

   a  b
1  4  5
2  4  6
3  9  9

In [17]:
df.loc[:, 'x1' :'x4']

Empty DataFrame
Columns: []
Index: [1, 2, 3]

In [30]:
df=pd.read_csv('gender_submission.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.6 KB

In [32]:
tested = pd.read_csv("gender_submission.csv")

In [33]:
tested.iloc[3:5, 0:2]

   PassengerId  Survived
3          895         0
4          896         1

In [34]:
tested.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [35]:
tested.iloc[0:5]

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [36]:
tested.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

In [37]:
tested.shape

(418, 2)

In [38]:
tested.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.6 KB

In [39]:
tested.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [40]:
tested.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [41]:
tested.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [43]:
df.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [45]:
tested.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [46]:
tested.fillna(0, inplace=True)